<div class="row">
    <div class="span3 ng-demo-sidebar" >
      <ul class="nav nav-list ng-demo-sidenav">
        <li><a href="#basic"><i class="icon-chevron-right"></i> Basic</a></li>
        <li><a href="#maxmin"><i class="icon-chevron-right"></i> Max/min Size</a></li>
        <li><a href="#grid"><i class="icon-chevron-right"></i> Grid</a></li>        
      </ul>
    </div>
    <div class="span9">
      <section id="basic">
        <div class="page-header">
          <h1>Basic</h1>
			<pre class="prettyprint linenums">
  &lt;div resizeable&gt;&lt;p&gt;Resize Me&lt;/p&gt;&lt;/div&gt;
			</pre>
          <div resizeable><p>Resize Me</p></div>
        </div>
      </section>
      <section id="maxmin">
        <div class="page-header">
          <h1>Max/min Size</h1>
			<pre class="prettyprint linenums">
  &lt;div resizeable&gt;&lt;p&gt;Resize Me&lt;/p&gt;&lt;/div&gt;
			</pre>
          <div resizeable><p>Resize Me</p></div>
          
        </div>
      </section>
      <section id="grid">
        <div class="page-header">
          <h1>Basic</h1>
<pre class="prettyprint linenums">
  &lt;div resizeable&gt;&lt;p&gt;Resize Me&lt;/p&gt;&lt;/div&gt;
</pre>
          <div resizeable><p>Resize Me</p></div>
        </div>
      </section>      
    </div>
  </div>